---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import fetchApi from "../lib/strapi";
import type Article from "../interfaces/article";

const articles = await fetchApi<Article[]>({
	endpoint: "articles", // the content type to fetch
	wrappedByKey: "data", // the key to unwrap the response
});

const fixstars = {
	title: "Software Engineer @ Fixstars Solutions, Inc.",
	link: "https://us.fixstars.com/",
	body: `In charge of Technical Marketing for GridDB, entails backend and frontend development work, mostly using React and Java. Also requires direct communication with customer. Also entails managing remote freelancers and their work.`,
	color: "#23262d"
};

const projects = [
	{
		title: "GridLog",
		link: "https://github.com/griddbnet/gridlog/tree/part-iii",
		body: `Full Stack application using: GridDB, Spring Boot, React.js. It polls log files on host machine, takes the raw logs, saves into DB, then takes the raw logs from the DB, parses it, and converts into fieldable logs using regex. Log Viewer allows you to see these logs and to query them with a query builder. Still WIP`,
		color: "#4a6002" 
	},
];
---

<Layout title="Israel Imru">
	<main>
		<h1>Israel Imru</h1>

		<h2> Employment </h2>
		<Card
			href={fixstars.link}
			title={fixstars.title}
			body={fixstars.body}
			color={fixstars.color}
		/>
		<h3> Projects</h3>
		<Card
			href={projects[0].link}
			title={projects[0].title}
			body={projects[0].body}
			color={projects[0].color}
		/>

		<!-- <ul>
			{
				articles.map((article) => (
					<li>
						<a href={`/blog/${article.attributes.slug}/`}>
							{article.attributes.title}
						</a>
					</li>
				))
			}
		</ul> -->
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
